//@import "~bootstrap/scss/bootstrap.scss";
//@import "~bootstrap/dist/css/bootstrap";
//$fa-font-path: "~font-awesome/fonts";
//@import "~font-awesome/scss/font-awesome.scss";

.petcard {
    background-color: #f3e1d8;
    width: 300px;
    padding: 12px;
}

.petlist {
    align-content: center;
}

.one {
    background-color: yellow;
}